@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#1e1e1e] text-[#e0e0e0];
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-[#2d2d2d];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#50e6e6] rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#0078d4];
}
